[submodule "gist"]
	path = gist
	url = https://github.com/gmarik/gist.sh.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/vim-rails"]
	path = vim/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/headlights"]
	path = vim/vim/bundle/headlights
	url = https://github.com/mbadran/headlights.git
