[submodule "janus"]
	path = janus
	url = https://misham@github.com/misham/janus.git
[submodule "nave"]
	path = nave
	url = git@github.com:misham/nave.git
[submodule "nvm"]
	path = nvm
	url = git@github.com:misham/nvm.git
