[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/vim-rails"]
	path = vim/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/numbers"]
	path = vim/vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/vim/bundle/ack"]
	path = vim/vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/rubytest"]
	path = vim/vim/bundle/rubytest
	url = https://github.com/janx/vim-rubytest.git
[submodule "vim/vim/bundle/scratch"]
	path = vim/vim/bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "vim/vim/bundle/vim-javascript"]
	path = vim/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim/bundle/vim-jst"]
	path = vim/vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "vim/vim/bundle/vim-proto"]
	path = vim/vim/bundle/vim-proto
	url = git@github.com:garyharan/vim-proto.git
[submodule "vim/vim/bundle/vim-ruby"]
	path = vim/vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim/bundle/html5"]
	path = vim/vim/bundle/html5
	url = git@github.com:othree/html5.vim.git
[submodule "vim/vim/bundle/python-sytax"]
	path = vim/vim/bundle/python-sytax
	url = https://github.com/hdima/python-syntax.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/vim-buffergator"]
	path = vim/vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/vim/bundle/vim-coffee-script"]
	path = vim/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim/bundle/vim-scala"]
	path = vim/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/vim/bundle/vimerl"]
	path = vim/vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "vim/vim/bundle/vim-clojure"]
	path = vim/vim/bundle/vim-clojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule "vim/vim/bundle/vim-json"]
	path = vim/vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/vim/bundle/handlebars"]
	path = vim/vim/bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "vim/vim/bundle/vim-endwise"]
	path = vim/vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/vim/bundle/vim-terraform"]
	path = vim/vim/bundle/vim-terraform
	url = https://github.com/markcornick/vim-terraform.git
[submodule "vim/vim/bundle/vim-ginkogo"]
	path = vim/vim/bundle/vim-ginkogo
	url = https://github.com/gevans/vim-ginkgo.git
[submodule "vim/vim/bundle/vim-carthage"]
	path = vim/vim/bundle/vim-carthage
	url = git@github.com:cfdrake/vim-carthage.git
[submodule "vim/vim/bundle/vim-swift"]
	path = vim/vim/bundle/vim-swift
	url = https://github.com/keith/swift.vim.git
[submodule "vim/vim/bundle/molokai"]
	path = vim/vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vim/bundle/salt-vim"]
	path = vim/vim/bundle/salt-vim
	url = git@github.com:saltstack/salt-vim.git
[submodule "vim/vim/bundle/vim-go"]
	path = vim/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim/bundle/vim-jinja2"]
	path = vim/vim/bundle/vim-jinja2
	url = git@github.com:Glench/Vim-Jinja2-Syntax.git
